{
	email {$TLS_EMAIL}
}

{$ADMIN_DOMAIN} {
	@api path /api/*
	handle @api {
		reverse_proxy api-gateway:8080
	}

	@voice path /ws/voice
	handle @voice {
		reverse_proxy api-gateway:8080
	}

	handle_path /waiter/* {
		reverse_proxy ai-waiter-service:7081
	}

	@images path /i/*
	handle @images {
		reverse_proxy upload-service:4010
	}

	handle {
		reverse_proxy braincell:80
	}
}

{$STOREFRONT_DOMAIN} {
	@voice path /ws/voice
	handle @voice {
		reverse_proxy api-gateway:8080
	}

	reverse_proxy storefront-host:8090
}
