{
	email {$TLS_EMAIL}
}

{$ADMIN_DOMAIN} {
	@api path /api/*
	handle @api {
		reverse_proxy api-gateway:8080
	}

	handle_path /waiter/* {
		reverse_proxy ai-waiter-service:7081
	}

	handle {
		reverse_proxy braincell:80
	}
}

{$STOREFRONT_DOMAIN} {
	reverse_proxy storefront-host:8090
}
